h1 {
    text-align: center;
    color: #711616;
}

.board {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    height: 90vh;
    width: 45vw;
    margin: 0 auto; /* Center the board horizontally */
    border: 2px solid #711616;
    /* gap: 7px;
    padding: 2px; */
}

.square {
    display: flex;
    border: 2px solid #711616;
}

.square:hover {
    border: 5px solid #f5e343;
    /* box-shadow: 10px 10px 10px #e5f053; */
    transition: all ease-in-out .3s;
}

.checker {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.flecker {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    height: 4rem;
    z-index: 1;
}

.selectedSquare {
    border: 5px solid #f5e343;
}

.checker:nth-child(odd)  {
    background-color: #711616; /* Dark color for odd squares */
}

.checker:nth-child(even) {
    background-color: #f0f0f0; /* Light color for even squares */
}

.flecker:nth-child(even)  {
    background-color: #711616; /* Dark color for odd squares */
}

.flecker:nth-child(odd) {
    background-color: #f0f0f0; /* Light color for even squares */
}

.square:nth-child(11) {
    background-color: blue;
}
