body {
    background-image: url("https://www.transparenttextures.com/patterns/wood-pattern.png");
}

h1 {
    text-align: center;
    color: #695738;
}

@media (max-width: 650px) {
    .board {
        width: 110px;
        height: 110px; /* Set the width to 100% for smaller screens */
        /* padding-bottom: 100%; Maintain a 1:1 aspect ratio */
        /* max-width: none; Remove the max-width for smaller screens */
    }

    img {
        height: 2rem;
        z-index: 1;
        width: 14px;
    }
}


.board {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    height: 600px;
    width: 600px;
    margin: 0 auto; /* Center the board horizontally */
    border: 2px solid #8c806c;
    margin-bottom: 40px;
    /* gap: 7px;
    padding: 2px; */
}

.square {
    display: flex;
    border: 1px solid #8c806c;
}

.square:hover {
    border: 5px solid #f5e343;
    /* box-shadow: 10px 10px 10px #e5f053; */
    transition: all ease-in-out .3s;
}

.checker {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.flecker {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pawn {
    width: 25px;
}

img {
    height: 4rem;
    z-index: 1;
    width: 28px;
}

.selectedSquare {
    border: 5px solid #f5e343;
}

.checker:nth-child(odd)  {
    /* background-color: #004f8c; */
    /* background-color: #711616; Dark color for odd squares */
    background-image: url("https://www.transparenttextures.com/patterns/wood-pattern.png");
}

.checker:nth-child(even) {
    background-color: #695738;
    background-image: url("http://www.transparenttextures.com/patterns/wood-pattern.png");
    /* background-color: #f0f0f0; Light color for even squares */
}

.flecker:nth-child(even)  {
    background-image: url("https://www.transparenttextures.com/patterns/wood-pattern.png");
    /* background-color: #711616; Dark color for odd squares */
}

.flecker:nth-child(odd) {
    background-color: #695738;
    background-image: url("http://www.transparenttextures.com/patterns/wood-pattern.png");
    /* background-color: #f0f0f0; Light color for even squares */
}

.square:nth-child(11) {
    background-color: blue;
}
