h1 {
    text-align: center;
    color: #711616;
}

.board {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    height: 40rem;
    width: 40rem;
    margin: 0 auto; /* Center the board horizontally */
    /* border: 2px solid #711616; */
    /* gap: 7px;
    padding: 2px; */
}

.square {
    height: 100%; /* Ensure that each square takes up the full height */
    width: 100%; /* Ensure that each square takes up the full width */
    display: flex;
    /* border: 2px solid #711616; */
}

.checker {
    height: 100%; /* Ensure that each square takes up the full height */
    width: 100%; /* Ensure that each square takes up the full width */
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.flecker {
    height: 100%; /* Ensure that each square takes up the full height */
    width: 100%; /* Ensure that each square takes up the full width */
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    height: 4rem;
}

.selectedSquare {
    color: #711616;
}

.checker:nth-child(odd)  {
    background-color: #711616; /* Dark color for odd squares */
}

.checker:nth-child(even) {
    background-color: #f0f0f0; /* Light color for even squares */
}

.flecker:nth-child(even)  {
    background-color: #711616; /* Dark color for odd squares */
}

.flecker:nth-child(odd) {
    background-color: #f0f0f0; /* Light color for even squares */
}
